<h2>Task: <%= @task.name %></h2>


<span><%= link "Edit", to: project_task_path(@conn, :edit, @project, @task) %></span>
<span><%= link "Back", to: project_task_path(@conn, :index, @project) %></span>
